* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: hsl(0, 14%, 95%);
  font-family: sans-serif;
  color: hsl(0, 2%, 42%);
}
/* Header Styles */

.first-div {
  display: flex;
  margin-left: 8rem;
  padding-top: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: #ff6a00e3;
}

.star {
  width: 2rem;
  border-radius: 50%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  background-color: #fff;
  height: 8rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.sideSection {
  visibility: visible;
  width: 19rem;
  height: 48rem;
  position: absolute;
  top: 6rem;
  background-color: #fff;
  box-shadow: 1px 2px 6px 6px rgb(240, 236, 236);
  border-radius: 0.4rem;
}

.sideSection img {
  width: 2rem;
}

.sideSection div {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
}

.logo img {
  width: 15rem;
}

.header-input {
  width: 48rem;
  height: 4rem;
  border-radius: 0.6rem;
  border: 2px solid rgb(179, 175, 175);
  background-color: #fff;
}

input::placeholder {
  padding-left: 4rem;
  font-weight: 500;
  font-size: 17px;
  color: rgb(179, 175, 175);
}

button {
  padding: 0.8em 1.2em;
  border: none;
  background-color: #000080;
  border-radius: 0.6rem;
  font-weight: 900;
  color: #fff;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  transform: translateX(-33rem);
}

.fa:hover {
  color: #000080;
}

.fa {
  display: flex !important;
  letter-spacing: 1px;
  cursor: pointer;
  gap: 1.5rem;
  align-items: center;
  font-weight: 900;
  font-size: 1.2rem;
}

.sidebar {
  margin-left: 10px;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 5.2rem;
  left: 0px;
  transition: all 500ms ease-in-out;
}

.toggle {
  position: absolute;
  left: 35%;
  width: 2.5rem;
  height: 2rem;
  top: 1.5rem;
}

.toggle span {
  position: absolute;
  width: 2.5rem;
  height: 4px;
  background: #000;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 500ms ease-in-out;
}
.toggle span:nth-child(1) {
  top: 45%;
}
.toggle span:nth-child(2) {
  top: 90%;
}

.links a:hover {
  text-decoration: underline;
}

.links {
  margin-left: 9rem;
  visibility: visible;
}

.sidebar.active {
  .links {
    visibility: hidden;
  }
}

.sidebar.active .toggle span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.sidebar.active .toggle span:nth-child(2) {
  /* display: none; */
  visibility: hidden;
}
.sidebar.active .toggle span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* BODY STYLES */

.box {
  width: 86%;
  margin: auto;
  height: 32rem;
  background-color: white;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.box p {
  font-size: 1.5rem;
}

/* FOOSTER STYLES */

footer {
  margin-top: 6rem;
  color: #cfcccc;
  font-size: 1.2rem;
}

.section-1 {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5rem;
  background-color: #302e2e;
  height: 25rem;
  padding-top: 3rem;
}

h4 {
  padding-bottom: 1rem;
}

.section-1 > img {
  width: 20rem !important;
}

.section-1-flex > img {
  width: 5rem;
  border-radius: 0.7rem;
}

.section-1-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#footer-input {
  width: 25rem;
  height: 4rem;
  border-radius: 0.6rem;
  text-align: center;
}

.fa-envelope {
  transform: translate(2rem, 2.6rem);
}

footer * button {
  background-color: transparent;
  border: 2px solid #cfcccc;
  margin-bottom: 3rem;
}

.section-1 + section {
  background-color: #585656;
  height: 60rem;
}

.section-2 > div {
  display: flex;
  justify-content: center;
  gap: 12rem;
  padding-top: 5rem;
}

ul li {
  list-style: none;
  padding-bottom: 1rem;
}

h4 {
  padding-bottom: 2rem;
}

.h4 {
  padding-block: 2rem;
}

a {
  text-decoration: none;
}

.cart-div {
  width: 100%;
  padding-inline: 9rem !important;
  height: 18rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.cart-item {
  width: 85rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}

.cart-item > div {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.cart-summary {
  width: 25%;
  /* height: 100%; */
}

.jpg11 {
  width: 7rem;
  border-radius: 0.7rem;
}

.cart-item > div div p {
  padding-bottom: 1rem;
}

.cart-item > div div p + span {
  font-size: 1.4rem;
}

.price-div {
  display: flex;
  flex-direction: column;
  align-items: end;
}

#add1 {
  padding-inline: 1rem;
}

.trash-item {
  position: absolute;
  top: 28rem;
  left: 12rem;
  cursor: pointer;
}

.trash-item img {
  width: 2rem;
}

.trash-item span {
  font-size: 1.3rem;
  transform: translateY(-50%) !important;
  color: #ff6a00e3;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cart-summary div {
  background-color: #fff;
  border-radius: 0.7rem;
}

h5 {
  padding: 1rem;
  border-bottom: 0.1px solid rgb(234, 230, 230);
  margin-bottom: 1rem;
}

.summary-span {
  display: flex;
  justify-content: center;
  gap: 15rem;
  padding-bottom: 0.6rem;
} 

.summary-span > span {
  font-size: 1.5rem;
  font-weight: 700;
}

.summary-span + p {
  border-bottom: 0.1px solid rgb(234, 230, 230);
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.btn {
  margin-inline: 1wrem;
  margin-block: 1rem;
  width: 27rem;
}

h4 {
  padding:0.7rem;
}

h4 + p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  padding-left: 0.7rem;
}

.return-div {
  margin-top: -1rem;
}

.cart-div > h3 {
  position: absolute;
  border-bottom: 0.1px solid rgb(234, 230, 230);
  width: 62%;
  padding: 1rem 2rem;
  z-index: 1;
}
